* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  

:root {
    --font-color: 255, 255, 255;
    --text-shadow: 2px 3px 5px rgba(0, 0, 0,.7);
    /* --primary-color: #589bff;  */
    --yellow: #C7BEA4;
    --blue: #95BBE6;
    --textWhite: #2b4d85ff;
    --textBlack: #5788beff;
}

body{
    background-color: var(--yellow);

}

/* OVERALL STYLES */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    
}

.links {
    text-decoration: none;
    font-size: 30px;
    color: rgb(136, 129, 89);
    margin-top: 20px;
}

/* LANDING PAGE STYLES */

.landingPageContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.landingPageButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.landingPageLogo{
    max-width: 600px;
    width: 110vw;
    min-width: 450px;
}

.findGame-title {
    margin-top: 20px;
    font-size: 70px;
}

.game-container {
    width: 80%;
    margin-top: 60px;
    margin-left: 10%;
    border-radius: 1em;
    border-color: black;
  }
.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 1em;
  }


.game-div{
    border-radius: 1em;
    margin: 10px;
    height: 250px;
    width: 350px;
    display: block;
    background-color: grey;
    
}

.game-div:hover {
    cursor: pointer;
}

.img-holder {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    display: block;
    height: 150px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .sport-img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    height: 100%;
    width: 100%;
  }

  .sport-name {
    margin-top: 10px;
    font-size: 22px;
    text-align: left;
    width: 80%;
    margin-left: 12%;
  }
  
  .sport-location {
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin-left: 12%;
  }

  .sport-datetime {
    font-size: 15px;
    text-align: left;
    width: 80%;
    margin-left: 12%;
  }
  
/*SCHEDULE PAGE STYLES */

/*FIND GAME PAGE STUFF */


.popUpGameHide{
    z-index: -999;
    pointer-events: none;
    
    flex-direction: column;
    position: absolute;
    height: 70dvh;
    width: 50vw;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: var(--gentle_dropshadow);
    justify-content: space-between;
    opacity: 0;
    
}

.popUpGame{
    pointer-events: all;
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70dvh;
    width: 50vw;
    padding: 40px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: var(--gentle_dropshadow);
    justify-content: space-between;
    opacity: 100;
}

.popUpGameBottom {
    height: 100%;
    position: absolute;
    bottom: 0;
    
}
.deleteButton {
    background-color: red;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
    align-content: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    border: 2px solid;
    width: 25%;
}

.deleteButton:hover{
    background-color: rgb(216, 2, 2);
    cursor: pointer;
}
#findGamePopupContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
    pointer-events: none;    
    
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(.5);
    transition: all .25s ease;
}

.closeButton:hover{
    transform: scale(.40);
    cursor: pointer;
}

