
:root {
    --font-color: 255, 255, 255;
    --text-shadow: 2px 3px 5px rgba(0, 0, 0,.7);
    /* --primary-color: #589bff;  */
    --yellow: #C7BEA4;
    --blue: #95BBE6;
    --textWhite: #2b4d85ff;
    --textBlack: #5788beff;
}


body{
    font-family: sans-serif;
    background-color: var(--yellow);

}

h2{
    font-size: 20px;
}

h3{
    font-size: 12px;
}

/* OVERALL STYLES */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   
}

.button{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    justify-content: center;
}

/* LANDING PAGE STYLES */

.landingPageContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100dvh;
}

.landingPageButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.landingPageLogo{
    max-width: 370px;
    width: 110vw;
    min-width: 250px;
}



/*SCHEDULE PAGE STYLES */

/*FIND GAME PAGE STUFF */
.game {
    position: relative; /*keep this no matter what because it keeps the stuff centered*/
    display: flex;
    aspect-ratio: 1/1;
    /* width: 15vw; */
    width: 10vw;
    min-width: 150px;
    max-width: 175px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
}

.gameText{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.game img{
    width: 100%;
    object-fit: cover;
    opacity: 30%;
    border-radius: 15px;
}

.game:hover{
    cursor: pointer;
}
.game:hover >  img{
    opacity: 50%;
}

.popUpGame{
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    position: absolute;
    height: 80dvh;
    width: 30vw;
    background: rgb(250, 250, 250);;
}